body {
  background-color: rgb(112, 112, 112);

}
h1 {
  background-color: rgba(250, 128, 114, .4);
  text-align: center;
  padding: 3% 3%;
  font-size:  500%;
  font-family: 'Sigmar One', cursive;

}
#salmon-pic {
  margin-left:  20%;
}
h2 {
  text-align: center;
}
p {
  background-color: rgba(250, 128, 114, .4);
}
#cookie-pic {
  width: 10%;
  height: 10%;
}
